name: Build Premiere Plugin

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build Solution
      run: msbuild vc/vc16/WebM_Premiere.vcxproj /p:Configuration=Release /p:Platform=x64

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: AdobeExpand-Plugin
        path: vc/vc16/x64/Release/AdobeExpand.prm
